
.C3 {
    background-color: var(--background);
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.C3-wrap{
    width: 1280px;
    height: 100%;
    display: flex;
    padding: 50px 0;
    flex-wrap: nowrap;
}

.C3-text p{
    text-align: center;
    font-size: 2rem;
}

.C3-items{
    width: 33%;
    position: relative;
}  
.C3-items svg{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 5%;
}
.C3-items img {
    width: 100%;
}

.C3-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.C3-text{
    width: 80%;
}

.st-3-1 {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-image: url(../photo/347634455_10013061942052675_963559843225718694_n.jpg);
    background-position: center 0;
}

.st-3-1 h1 {
    color: white;
    padding: 10px;
    text-align: center;
    padding: 50px 0;
    font-size: 6rem;
}