.CC{
    width: 100%;
    background-color: var(--background);
    height: 500px;
    display: flex;
    justify-content: center;
}

.CC-wrap{
    width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CC-items{
    height: 80%;
    width: 30%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CC-content{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.CC-text{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(80%);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    transition: all 1s ease;
}

.CC-text h1{ 
    font-size: 4rem;
    text-align: center;
    color: var(--rebackground);
    margin: 10px 0;
}

.CC-text p{ 
    font-size: 2rem;
    text-align: center;
    color: white;
    width: 80%;
    margin: auto;
}

.CC-content:hover  .CC-text{
    transform: translateY(0);
}