/* Phần hình nền */
.header-img {
    display: none;
}

.header-img.ac {
    display: block;
    background-image: url(../photo/home.jpg);
    width: 100%;
    filter: brightness(80%);
    height: 600px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Phần chữ nền */

.header-contents {
    display: none;
}

.header-contents.ac {
    display: block;
    position: relative;
}

.header-content {
    position: absolute;
    top: -400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    animation: showbg 1s ease forwards;
    opacity: 0;
}

.header-content h1 {
    text-align: center;
    color: white;
    font-size: 6rem;
    opacity: 0;
    animation: showcontent 0.7s 0.5s ease forwards;
}

.header-content h3 {
    text-align: center;
    color: white;
    font-size: 4rem;
    margin-bottom: 15px;
    opacity: 0;
    animation: showcontent 0.7s 0.4s ease forwards;
}

/* Phần Nav */
.Header{
    position: sticky;
    max-width: 1920px;
    top: 0px;
    z-index: 999;
    margin: auto;
}
.header-nav {
    width: calc(100% - 200px);
    position: absolute;
    top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 8px 36px;
    border: 1px solid var(--text-color);
    z-index: 998;
    opacity: 0.8;
    margin: 8px 100px;
}

#header-lachong {
    width: calc(5rem + 2vw);
    padding: 0 10px 0 0;
}

#header-cntt {
    width: calc(8rem + 2vw);
    padding: 0 10px;
}

.header-lists {
    margin: 0 18px;
}

.nav-link {
    font-size: 1.6rem;
    position: relative;
}

.nav-link::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: var(--lhu-color);
    bottom: -4px;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.tab-item {
    opacity: 0.8;
}

.tab-item.ac {
    opacity: 1;
    font-weight: 900;
}

.ul .line {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: var(--lhu-color);
    transition: all 0.2s ease;
}
